main {
    text-align: center;
    margin-top: 8.1rem;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1002;
}

#exit-panel {
    cursor: pointer;
    width: 400px;
    text-align: center;

}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-dark-overlay);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.menu {
    background-color: inherit;
}

.panelInfo span {
    font-size: 1.5rem; 
}

.boxes {
    display: flex; 
    gap: 20px; 
    padding: 20px;
    justify-content: center;
}

dashboard-box {
    flex-grow: 1; 
}

#users-box {
    background-color: #4caf50;
    padding: 30px 50px;
    border: 1px solid var(--clr-neutral-900);
    border-radius: 10px;
    color: var(--clr-neutral-100); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#orders-box {
    background-color: #2196f3;
    padding: 30px 50px;
    border: 1px solid #252525;
    border-radius: 10px;
    color: var(--clr-neutral-100); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

#food-items-box {
    background-color: #f44336;
    padding: 30px 50px;
    border: 1px solid #252525;
    border-radius: 10px;
    color: var(--clr-neutral-100); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


#orders-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}


#orders-table-container table {
    border-collapse: collapse; 
    width: 85%; 
}


#orders-table-container th,
#orders-table-container td {
    border: 1px solid var(--clr-neutral-900); 
    padding: 8px;
    text-align: left; 
}


#orders-table-container th {
    background-color: #f2f2f2; 
    font-weight: bold; 
}


#orders-table-container tr:nth-child(even) {
    background-color: #f9f9f9; 
}


.heading span,
span {
    color: orange;
    font-weight: 600;
    font-size: 1.5rem;
}

.panel-span {
    margin-top: 20px;
}

.addFoodItems {
    background-color: #c1b9b962; 
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px; 
    margin: 0 auto; 
}

.addFoodItems span {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333; 
}

#add-food-item-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#add-food-item-form input[type="text"],
#add-food-item-form input[type="number"] {
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 4px;
    font-size: 1rem;
}

#add-food-item-form input[type="text"]::placeholder,
#add-food-item-form input[type="number"]::placeholder {
    color: #aaa; /
}

#add-food-item-form button {
    padding: 10px 20px;
    background-color: #5cb85c; 
    color: var(--clr-neutral-100);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px; 
    transition: background-color 0.3s ease; 
}

#add-food-item-form button:hover {
    background-color: #4cae4c; 
}


/* BREAKPOINTS */

@media screen and (max-width: 1050px) {
    #orders-table-container table {
        border-collapse: collapse; 
        width: 100%;  
    }

    #exit-panel {
        cursor: pointer;
        width: 200px;
        text-align: center;
    
    }
}

@media screen and (max-width: 768px) {
    .boxes {
        flex-direction: column;
        gap: 10px; 
    }

    .dashboard-box {
        width: 100%; 
    }

    #orders-box, #users-box, #food-items-box {
        padding: 20px 30px; 
    }

    #orders-table-container {
        overflow-x: auto;
        justify-content: normal; 
    }

    #orders-table-container table {
        width: 100%; 
    }

    #orders-table-container th, #orders-table-container td {
        padding: 5px; 
    }
 
    #orders-table-container td:nth-child(1) {
        display: none;
    }

    .panelInfo span {
        font-size: 1.2rem; 
    }
}

@media screen and (max-width: 500px) {
    .boxes {
        padding: 10px;
    }

    .dashboard-box, #orders-box, #users-box, #food-items-box {
        padding: 15px 20px;
    }

    #orders-table-container table {
        width: 100%;
    }

    #orders-table-container th, #orders-table-container td {
        padding: 4px; 
    }

    .panelInfo span {
        font-size: 1rem; 
    }
}
