
#profileModal,
#signUpModal {
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    flex-direction: row;
    align-items: stretch;
    background-color: var(--clr-neutral-100);
    border-radius: 10px;
    border: none;
}

#signUpModal {
    flex-direction: column;
    max-width: 450px;
    align-items: center;
}

#profileModal h1,
#signUpModal h1,
.order-history-container h1 {
    font-size: 24px;
    color: var(--clr-neutral-900);
    margin-bottom: 20px;
    text-align: center;
}

#profileModal h2,
#signUpModal h2,
.order-history-container h2 {
    font-size: 20px;
    color: var(--clr-neutral-900);
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

#signUpModal {
    display: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 1.2rem;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: rgb(121, 0, 0);
}

.side-bar {
	flex: 0 0 150px;
	background: var(--clr-primary-200);
}

.bx-user {
    margin-right: 10px;
}

.bx-user,
.bx-book {
    font-size: 2rem;
    margin-right: 5px;
}

.side-bar ul li a  {
	margin: 5px;
}

.side-bar ul li {
	font-size: 1.3rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.5rem;
}

.side-bar ul li:hover {
	background: #feded1;
}

.profile-container {
	flex-grow: 1;
	margin: 5px 25px 25px 25px;
    overflow-y: auto;
}

.order-history-container {
    min-height: 445px;
    margin: 5px 25px 25px 5px;
    overflow-y: auto;
    width: 100%;
}


.form-control {
    margin-bottom: 20px;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
}

.form-control input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
}

.button,
#logout-button {
    background-color: var(--clr-primary-600);
    color: var(--clr-neutral-100);
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover,
#logout-button:hover {
    background-color: #002f62;
}

.profile-bottom-sections p {
    margin-left: 0.5rem;
}

#logout-button {
    margin-top: 0.7rem;
    margin-left: 1.5rem;
}

#profile-form .form-control label,
#signUp-form .form-control label {
    color: var(--clr-neutral-900);
    font-weight: bold;
}

#profile-form .form-control input,
#signUp-form .form-control input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
}

#profile-form .button,
#signUp-form .button,
#logout-button {
    color: var(--clr-neutral-100);
}

#profile-form .button:hover #logout-button:hover,
#signUp-form .button:hover {
    background-color: #002f62;
}

.order-history-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.order-history-card {
    background-color: var(--clr-neutral-100);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
}

.order-history-card h3 {
    color: #333;
    margin-bottom: 10px;
}

.order-history-card p {
    color: #555;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 8px;
}

.order-history-card .items-list {
    background: #f7f7f7;
    padding: 15px;
    border-radius: 4px;
    margin-top: 15px;
}

.order-history-card .total-price {
    font-weight: bold;
    color: #4caf50; 
}

.order-history-card .order-status {
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
    display: inline-block; 
}

.order-history-card .order-status.pending {
    background-color: #ffeb3b;
    color: #333;
}

.order-history-card .order-status.accepted {
    background-color: var(--clr-primary-600);
    color: var(--clr-neutral-100);
}

#o-status {
    /*color: var(--clr-neutral-900);*/
    font-weight: bold;
}

.order-history-card .order-status.completed {
    background-color: #4caf50;
    color: var(--clr-neutral-100);
}

.order-history-card .order-status.cancelled {
    background-color: #f44336;
    color: var(--clr-neutral-100);
}

.empty-order-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.empty-order-history img {
    max-width: 300px;
    margin-top: 3rem; 
}

.empty-order-history p {
    font-size: 1.2rem;
    color: var(--clr-neutral-900); /* Use a variable or replace with your preferred color */
    margin-bottom: 0; /* Remove bottom margin if not needed */
}


/*  BREAKPOINTS  */

@media (max-width: 768px) {

    #profileModal,
    #signUpModal {
        flex-direction: column;
    }

    #profileModal .side-bar {
        order: -1; 
        flex: 0 0 auto; 
        width: 100%; 
    }

    #profileModal .profile-container,
    #profileModal .order-history-container {
        margin: 5px;
        width: auto; 
    }

    .bx-book, .bx-user {
        font-size: 1.3rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        padding-left: 0.5rem;
    }

    .close-btn {
        position: absolute;
        top: 98px;
        right: 10px;
        font-size: 2rem;
        font-weight: 500;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }

    #profile-info, 
    #logout-button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #logout-button {
        margin: 10px 0;
    }

    .form-control {
        margin: 0 auto 20px; 
        max-width: 300px; 
    }

    .form-control input {
        width: 100%; 
    }

    .profile-container {
        width: 100%; 
        margin: 5px; 
    }
}